<div class="sidebar">
    <div class="logo-details">
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search..." />
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="#" routerLink="/dashboard">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="#" routerLink="/graph">
                <i class="bx bx-pie-chart-alt-2"></i>
                <span class="links_name">Graph</span>
            </a>
            <span class="tooltip">Graph</span>
        </li>

        <li class="profile">
            <div class="profile-details">
                <!--<img src="profile.jpg" alt="profileImg">-->

            </div>
            <i class="bx bx-log-out" id="log_out"></i>
        </li>
    </ul>
</div>
    
<section class="home-section">
    <div class="text">
        <h1>Graph</h1>
        <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
        </div>

    </div>
</section>